body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding:20px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}
.container{
    max-width: 800px;
    width:100%;
    background:white;
    padding: 30px 30px;
    border-radius: 10px;
}
.container .title{
    font-size:30px;
    font-weight: 500;
}
.container .user-details{
    color:purple;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin: 20px 0 13px 0;
}
.user-details .input-box{
    margin-bottom: 20px;
    width:100%;
}
.user-details .input-box input{
    height:50px;
    width:100%;
    outline: none;
    border-radius:5px;
    border:1px solid;
}
.user-details .input-box .details{
    display:block;
    font-weight: 500;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}
